src/main/mule/tlspracrice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="24255acc-0b37-4f5f-adff-9f8593768854" >
		<http:listener-connection host="${http.host}" port="${http.port}" tlsContext="TLS_Context" protocol="HTTPS">
		</http:listener-connection>
	</http:listener-config>
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="042b71b2-8365-4a12-911e-9f26afa9d427" >
		<tls:key-store type="pkcs12" path="key/server-keystore.jks" keyPassword="mule123" password="mule123" />
	</tls:context>
	<configuration-properties doc:name="Configuration properties" doc:id="e79d1320-08f8-4387-b986-a3c24c91f09b" file="${env}.yaml" />
	<global-property doc:name="Global Property" doc:id="5147e817-8b31-4d47-a22d-90f5698b33e6" name="env" value="dev" />
	<flow name="tlspracriceFlow" doc:id="b64bfc2b-78f3-4ea3-8edf-b28b9c68fb66" >
		<http:listener doc:name="Listener" doc:id="bdb14216-363c-437f-bb40-6c982a3fd640" path="${http.path}" config-ref="HTTP_Listener_config" allowedMethods="GET" outputMimeType="application/json"/>
		<logger level="INFO" doc:name="start" doc:id="0b1f2378-e7c7-49b4-bbc1-57f8cfc6254f" message="#[attributes.method]  tls  has ended"/>
		<ee:transform doc:name="Transform Message" doc:id="da00c681-b402-4ab8-bd8a-b27fe817bc90">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
 value:p('http.port')


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="2609b8d1-0a93-4441-9c8a-fd0410593bf1" >
			<when expression="#[payload.value=='8085']">
				<ee:transform doc:name="dev" doc:id="ed4e49fe-a9c0-4cd3-a998-814ea5208c11">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{"success":attributes.method ++ " " ++ "key store has been successfully configured in develop"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<when expression="#[payload.value=='8082']">
				<ee:transform doc:name="local" doc:id="ef8d5019-be5a-4f87-9984-dc711e95cf6c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"success":attributes.method ++ " "++"key store has been successfully configured in local"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="failed" doc:id="22b00ea7-9095-4a21-b59c-eb7ec583d183" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"failed": "port is not correct"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="end" doc:id="59f17da5-2abf-4b50-9900-27825535f419" message="#[attributes.method] tls has ended"/>
		<ee:transform doc:name="Transform Message" doc:id="d0969144-c6de-4d40-acf8-e4b8b97ac25e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
